.modal-blocker {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(151, 151, 151, 0.5);
  z-index: 99999999;
  align-items: center;
  justify-content: center;
}
.token-auth-container {
  background-color: white;
  height: 200px;
  padding: 30px;
  box-sizing: border-box;
  width: 400px;
  justify-content: space-between;
  border-radius: 20px;
}
